
Options -MultiViews

RewriteEngine On

Options -Indexes

RewriteBase /school/teachery/app/

# General rewrite rules
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?rt=$1 [QSA,L]