
/*
* Stylesheet
* Author: Mirko van der Waal (God);
*/


@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Reset standard margins and apply standard fallback font + Background placement.*/
html,
body                {margin:0;padding:0;font-family: 'Tahoma', 'sans-serif';
                    vertical-align:baseline;line-height:1;color:#191919;}

/* Prevent padding to resize the element.*/
*,
*:before,
*:after             {-webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                             box-sizing: border-box;
                    outline:none;}

.clear-both         {clear:both;}
.ion-refresh        {cursor:pointer;}

a                   {color:inherit;text-decoration:inherit;}
input               {outline:none;}

.cookie             {position:fixed;z-index:995;width:90%;text-align:center;background:rgba(0, 0, 0, .2);line-height:0.4em;
                    font-family: 'Montserrat', sans-serif;font-weight:300;right:0;transition:width .3s;display:block;}
.cookie p           {float:left;width:80%;margin-left:10%;}
.cookie i           {float:left;width:10%;padding:7.5 0 0 0;font-size:150%;cursor:pointer;}

                    /*
                    ICON_COLOR: #F2F2F2;
                    BASECOLOR:  #214E96;
                 OLD_BASECOLOR: #821031;
                    TEXT_COLOR: #191919;
                    */

                    /* WIDTH: 100% */
body                {widows:  100%;background:#F2F2F2;overflow-x:hidden;}

                    /* WIDTH: 10% */
nav                 {width:   10%;
                    float:left;background:#214E96;color:#F2F2F2;transition:width .3s ;overflow:none;position:fixed;}

                    /* WIDTH: 15% */
nav:hover           {width:   15%;}
nav:hover + .cookie {width:   85%;}

nav a               {display: -webkit-box;
                     display: -webkit-flex;
                     display: flex;
                    height:25vh;-webkit-align-items: center;align-items: center;
                    justify-content: center;-webkit-justify-content: center;font-size:2em;
                    transition:background .3s, color .3s;}
nav a:hover,
nav a:active,
nav a.active        {background:#F2F2F2;color:#214E96;}

                    /* WIDTH: 100% */
main                {width:   100%;
                    float:left;background:#F2F2F2;transition:width .3s;font-family: 'Lato', sans-serif;padding-left:100px;}

.landing                {width:100%;background:#214E96;height:100%;text-align:center;}
.landing img            {margin-top:100px;width:85%;}
.landing div            {font-family: 'Montserrat', sans-serif;text-align:center;margin-top:65px;}
.landing div a          {letter-spacing:.5em;color:#fff;border:2.5px solid #fff;padding:20 50;transition:background .3s, color .3s;}
.landing div a:hover    {color:#214E96;background:#fff;}
.landing .devs          {text-align:center;width:400px;position:fixed;left:50%;margin-left:-200px;bottom:10;color:white;font-size:70%;}

.shadowTimer            {display:none;}
.checkboxes             {width:100%;font-family: 'Montserrat', sans-serif;}

header                  {width:300px;margin:20 auto 50 auto}
header h1               {font-family: 'Montserrat', sans-serif;text-align:center;font-size:385%;font-weight:100;border-bottom:5px solid #214E96;}

.checkbox-overlay       {display:none;height:100%;width:100%;background:rgba(255, 255, 255, .8);position:fixed;left:0;top:0;}
.checkbox-overlay.active{display:block;}
.checkbox-texts         {text-align:center;padding:25vh 0 0 0;font-size:150%;text-shadow:0px 2px 0px white;}
.checkbox-bool          {width:190px;margin:0 auto;}
.checkbox-confirm,
.checkbox-cancel        {text-align:center;background:#fff;padding:20 0;width:75px;color:#214E96;float:left;margin:0 10;
                        border:3px solid #214E96;font-size:125%;font-family: 'Montserrat', sans-serif;
                        transition:background .3s, color .3s;cursor:pointer;}
.checkbox-confirm:hover,
.checkbox-cancel:hover  {background:#214E96;color:white;}
.checkbox-confirm:active,
.checkbox-cancel:active,{background:#214E96;color:white;}

.checkbox-plus          {margin:40px 0px 40px 10px;font-size:200%;text-align:center;}
.checkbox-plus i        {color:#214E96;cursor:pointer;font-family: 'Montserrat', sans-serif;margin:0 25;}

.checkbox-title         {width:100%;float:left;text-align:center;margin-top:50px;}
.checkbox-title input   {border:none;border-bottom:5px solid #214E96;border-left:5px solid #214E96;display:inline-table;
                        font-weight:300;padding:7.5px;font-size:125%;width:20vw;font-family: 'Montserrat', sans-serif;}

.checkbox-input         {width:50%;float:left;margin:20 0px;text-align:center;}
.checkbox-input input   {width:70px;border:0px;font-size:150%;font-weight:300;margin:0;border-bottom:5px solid #214E96;
                        font-family: 'Montserrat', sans-serif;padding:10px;text-align:center;}
.checkbox-input span    {font-size:250%;margin:0 5;}

.checkbox-button        {width:50%;float:left;font-size:250%;margin:35 0px;text-align:center;}
.checkbox-button i      {color:#214E96;cursor:pointer;font-family: 'Montserrat', sans-serif;margin:0 15;}

.pick                   {width:100%;font-family: 'Montserrat', sans-serif;padding-left:11.5%}
.pick-form              {width:100%;height:100px;text-align:center;margin-left:-7%;}
.pick-form label        {font-size:500%;color:#214396;cursor:pointer;}
.pick section           {width:30%;float:left;}
.pick select            {width:100%;height:60%;overflow-y:scroll;overflow-x:hidden;}

.settings               {width:100%;font-family: 'Montserrat', sans-serif;padding-left:7.5%;}
.settings h1            {margin:50 0 25 0;}
.settings h2            {font-weight:300;font-size:125%;}

.settings .hash,
.settings .ref          {width:0;float:left;background:#214E96;font-size:2em;padding: 15 0;
                        text-align:center;color:white;font-weight:300;height:60px;}
.setting-color,
.setting-clock,
.setting-general        {width:50%;font-size:100%;font-family: 'Montserrat', sans-serif;text-align:center;padding:0 2.5% 0 5%;float:left;}

.setting-color .hash,
.setting-color .ref     {width:15%;}
.setting-color input    {width:70%;background:white;border:none;font-size:200%;height:60px;padding:15;color:#666;float:left;}

.color_box              {width:100%;height:10px;box-shadow:0 0 9px 0 #ccc}

.setting-clock input    {width:25%;background:white;border:none;font-size:200%;padding:0;color:#666;float:left;height:60px;
                        text-align:center;border-bottom:5px solid #214E96;}
.setting-clock .ref     {width:15%;}
.setting-clock .semi    {float:left;padding:15 0;font-size:150%;width:5%;}

.setting-clock .boolcont{margin:40 0 0 0;}
.setting-clock .h2bool  {width:60%;float:left;}
.setting-clock .bool    {width:20%;background:#214E96;text-align:center;float:left;line-height:3em;color:white;transition:background .2s, color .2s;}
.bool:hover             {background:white;color:#214E96;cursor:pointer;}
.bool:active            {background:white;color:#214E96;color:#191919}

.setting-clock .optcont {margin: 40 0 0 0;}
.setting-clock .h2opt   {width:100%;float:left;}
.setting-clock .opt     {width:33.3334%;background:#214E96;text-align:center;float:left;line-height:3em;color:white;transition:background .2s, color .2s;}
.opt:hover              {background:white;color:#214E96;cursor:pointer;}
.opt:active,
.opt.active             {background:white;color:#214E96;color:#191919}

.setting-general .boolcont{margin:40 0 0 0;}
.setting-general .h2bool  {width:60%;float:left;}
.setting-general .bool    {width:20%;background:#214E96;text-align:center;float:left;line-height:3em;color:white;transition:background .2s, color .2s;}
.bool:hover             {background:white;color:#214E96;cursor:pointer;}
.bool:active,
.bool.active            {background:white;color:#214E96;color:#191919}

input[disabled]         {background:#F2F2F2  !important;color:#000  !important}

.home                   {width:100%; margin:auto;font-family: 'Montserrat', sans-serif;padding:0 25;}
.home .home-group       {margin-bottom:50px; max-width:700px; margin:auto;}
.home .home-group h2    {font-size:200%;color:#214E96;margin-top:60px;}
.home .home-group p     {padding-left:10px; border-left:10px solid #214E96;font-size:125%;}

.base_color_box         {background:#214E96}
.text_color_box         {background:#191919}
.background_color_box   {background:#F2F2F2}


*:-webkit-full-screen {
 position: fixed;
 width: 100%;
 height:100%;
 top: 0;
 padding-top:10%;
}


*:-webkit-full-screen .checkbox-button{
 display:none;
}

*:-webkit-full-screen .checkbox-input{
 width:100%;
 line-height: 100%;
}

*:-webkit-full-screen .checkbox-input input{
 font-size:20vh;
 width:30%;
}

*:-webkit-full-screen input[disabled] {
 background:#fff!important;
}

*:-moz-full-screen input[disabled] {
 background:#fff!important;
}

*:-moz-full-screen {
 position: fixed;
 width: 100%;
 height:100%;
 top: 0;
 padding-top:10%;
 background-color: rgba(255,255,255,1);
}

*:-moz-full-screen .checkbox-button{
 display:none;
}

*:-moz-full-screen .checkbox-input{
 width:100%;
 line-height: 100%;
}

*:-moz-full-screen .checkbox-input input{
 font-size:20vh;
 width:30%;
}
@media (max-width: 720px) {
    /* CORE RESPONSIVE */
    .cookie             {width:100%;line-height:1em;}
    body                {}
    main                {padding:0;margin-top:65px;margin-bottom:85px;}
    nav                 {display:block;position:fixed;width:100%;bottom:0;}
    nav:hover           {width:100%;}
    nav a               {height:65px;width:25%;float:left;}

    /* LANDING */
    .landing div a,
    .landing div p      {width:100%;}

    /* TIMER */
    .checkbox-title input{width:60vw}
    .checkbox-plus      {margin-left:10px;}
    .checkbox-input,
    .checkbox-button    {width:100%;}
    .checkbox-button    {margin-top:0;}

    /* SETTINGS */
    .settings           {padding:0;}
    .setting-color,
    .setting-clock,
    .setting-general    {width:100%;padding:0 25;}

}




.settings-overlay       {display:none;height:100%;width:100%;background:rgba(255, 255, 255, .8);position:fixed;left:0;top:0;}
.settings-overlay.active{display:block;}
.settings-texts         {text-align:center;padding:20px 0 0 0;font-size:150%;text-shadow:0px 2px 0px white;font-weight: bold;}
.settings-bool          {margin:0 auto;display:table;}
.settings-bool > div    {text-align:center;background:#fff;padding:20 0;width:100px;color:#214E96;float:left;margin:0 10;
                        border:3px solid #214E96;font-size:125%;font-family: 'Montserrat', sans-serif;
                        transition:background .3s, color .3s;cursor:pointer;}
.settings-bool > div:hover  {background:#214E96;color:white;}
