/*
* Stylesheet
* Author: Mirko van der Waal (CSS God);
* THE FUCK U USING FLEX MORE? I DONT UNDERSTAND SHIT
*/

@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Reset standard margins and apply standard fallback font + Background placement.*/
html, 
body                {margin:0;padding:0;font-family: 'Tahoma', 'sans-serif';
                    vertical-align:baseline;line-height:1;}

/* Prevent padding to resize the element.*/
*,
*:before,
*:after             {-webkit-box-sizing: border-box;     
                        -moz-box-sizing: border-box; 
                             box-sizing: border-box;}

.clear-both         {clear:both;}
a                   {color:inherit;text-decoration:inherit;}
input               {outline:none;}

                    /*
                    ICON_COLOR: #F2F2F2;
                    BACKGROUND: #821031;
                    TEXT_COLOR: #191919;  
                    */
                    /* WIDTH: 100% */
body                {widows:  100%;background:#F2F2F2;overflow-x:hidden;}                         
                   
                    /* WIDTH: 10% */
nav                 {width:   10%;
                    float:left;background:#821031;color:#F2F2F2;transition:width .3s ;overflow:none;position:fixed;}

                    /* WIDTH: 15% */
nav:hover           {width:   15%;} 

nav a               {display: -webkit-box;
                     display: -webkit-flex;
                     display: flex;
                    height:20vh;-webkit-align-items: center;align-items: center;
                    justify-content: center;-webkit-justify-content: center;font-size:2em;
                    transition:background .3s, color .3s;}
nav a:hover,
nav a.active        {background:#F2F2F2;color:#821031;}

                    /* WIDTH: 100% */
main                {width:   100%;
                    float:left;background:#F2F2F2;transition:width .3s;font-family: 'Lato', sans-serif;padding-left:100px;}

.shadowTimer            {display:none;}
.checkboxes             {width:100%;font-family: 'Montserrat', sans-serif;}

header                  {width:300px;margin:20 auto 50 auto}
header h1               {font-family: 'Montserrat', sans-serif;text-align:center;font-size:385%;font-weight:100;border-bottom:5px solid #821031;}

.checkbox-plus          {margin:40px 0px 40px 10px;font-size:200%;text-align:center;}
.checkbox-plus i        {color:#821031;cursor:pointer;font-family: 'Montserrat', sans-serif;margin:0 25;}

.checkbox-title         {width:100%;float:left;text-align:center;margin-top:50px;}
.checkbox-title input   {border:none;border-bottom:5px solid #821031;border-left:5px solid #821031;display:inline-table;
                        font-weight:300;padding:7.5px;font-size:125%;width:20vw;font-family: 'Montserrat', sans-serif;}

.checkbox-input         {width:50%;float:left;margin:20 0px;text-align:center;}
.checkbox-input input   {width:70px;border:0px;font-size:150%;font-weight:300;margin:0;border-bottom:5px solid #821031;
                        font-family: 'Montserrat', sans-serif;padding:10px;text-align:center;}
.checkbox-input span    {font-size:250%;margin:0 5;}

.checkbox-button        {width:50%;float:left;font-size:250%;margin:35 0px;text-align:center;}
.checkbox-button i      {color:#821031;cursor:pointer;font-family: 'Montserrat', sans-serif;margin:0 15;}

.settings               {width:100%;font-family: 'Montserrat', sans-serif;padding-left:7.5%;}
.setting-color          {width:50%;font-size:100%;font-family: 'Montserrat', sans-serif;text-align:center;padding:0 25;}
.setting-color h2       {font-weight:300;}
.setting-color input    {background:white;border:none;border-left:65px solid #821031;font-size:200%;padding:15;color:#666;width:100%;}

input[disabled]         {background:#F2F2F2  !important;color:#000  !important}

@media (max-width: 720px) {
    /* CORE RESPONSIVE */
    body                {}
    main                {padding:0;margin-top:65px;}
    nav                 {display:block;position:fixed;width:100%;bottom:0;}
    nav:hover           {width:100%;}
    nav a               {height:65px;width:20%;float:left;}

    /* TIMER */
    .checkbox-title input{width:60vw}
    .checkbox-plus      {margin-left:10px;}
    .checkbox-input,          
    .checkbox-button    {width:100%;}
    .checkbox-button    {margin-top:0;}

    /* SETTINGS */
    .settings           {padding:0;}
    .setting-color      {width:100%;}
}
